@font-face {
  font-family:"titanica";
  src: url("../fonts/Titania-Regular.ttf");
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url("../img/dystopia.jpg") ;
  font-family:"titanica";
  z-index: 0;
}

header{
  background-image: url("../img/logo.png");
  width: 630px;
  height: 180px;
  z-index: 1;
}

article{
  display: flex;
  flex-direction: column;
  background-color:rgba(255, 240, 200, 0.5);
  text-align: center;
  text-decoration-style:dotted;
  border: black solid;
  width: 80%;
  height: 6000px;
  justify-content: center;
  z-index: 1;
}

.albums{
  height: 1600px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1{
  text-decoration:underline;
  color: black;
  line-height: 45px;
  font-size: 5em;
  z-index: 2;
}

.albums_images{
  width: 305px;
  height: 305px;
  z-index: 3;
  margin-left: 5px;
}

.display_items{
  display: flex;
  flex-direction: column;
  width:80%;
  height: 1000px;
  background: rgba(255, 0, 0, 0.5);
  margin: 5px;
}

.display_none{
  display: none;
}
